.editContainer {
    max-width: 1100px;
    margin: auto;
    padding: 20px;

    .editContent {
        background-color: #fff;
        padding: 20px;

        h2 {
            font-size: 32px;
        }
    }
}