.editContainer {
    max-width: 700px;
    margin: auto;
    padding: 20px;

    .editContent {
        background-color: #fff;
        padding: 20px;

        h2 {
            font-size: 32px;
        }

        form {
            display: flex;
            flex-direction: column;

            .inputField {
                margin-bottom: 16px;
                padding: 6px;
            }
            
            .inputSubmit2 {
                width: fit-content;
                border: 3px solid #C52525;
                background-color: white;
                font-size: 16px;
                padding: 6px 12px;
                cursor: pointer;
            }

            .inputSubmit1 {
                margin-bottom: 16px;
                background-color: red;
                border: 3px solid #C52525;
                background-color: white;
                font-size: 16px;
                padding: 6px 12px;
                cursor: pointer;
                margin-top: 16px;
                width: fit-content;
            }

            .fileField {
                margin-bottom: 16px;
            }
        }
    }
}