.footerContainer {
    width: 100%;

    .footerSecondContainer {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        margin: auto;
        padding: 20px;
    }
}